doctype html(lang='ja')
head
    meta(charset='UTF-8')
    title BrowserSync
    link(rel='stylesheet', type='text/css', href='font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    div.pageUpper
      header
        h1.pageTitle BrowserSync
      label.inputWrapper__Title(for="proxyTarget") URL
      .inputWrapper
        input#proxyTarget.input.input--100(type='text', value="http://")
      span.inputWrapper__Title ベーシック認証
      .inputWrapper
        label.input__label(for="authUser") ID
        input#authUser.input(type='text')
        label.input__label(for="authPass") PASSWORD
        input#authPass.input(type='text')
      button#btnRun.btnRun
        span.fa.fa-play
    div.pageUnder
      div.dispUrl
        span.dispUrl__icon.fa.fa-database
        span.dispUrl__text http://
      textarea#windowConsole.console(readonly='readonly') console log here

    script(src='App.js')
    script.
      (function(){
      window.addEventListener('DOMContentLoaded', function(){
      var app = new App();
      app.start();
      });
      }());