.btn {
  padding: .5rem 1rem;
  height: 3rem;
  background-color: $mainColor;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid darken($mainColor, 10%);
  color: #FFF;

  &:hover {
    background-color: lighten($mainColor, 2%);
  }

  &:active {
  background-color: $mainColor;
  border-bottom: none;
  }
}

.btnAction {
  position: absolute;
  display: block;
  width: 88px;
  height: 88px;
  bottom: -44px;
  left: 50%;
  margin: 0 0 0 -44px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: $subColor;
  color: #FFF;
  cursor: pointer;
  transition: box-shadow ease 0.2s;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  will-change: box-shadow;
  overflow: hidden;
  transition: all 500ms ease;
  will-change: background-color;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.40);
  }
  
  &:active {
    background-color: darken($subColor, 5%);
    box-shadow: none;
 }

}

.btnAction__iconContainer {
  width: 176px;
}

.btnAction__icon {
  width: 88px;
  font-size: 3.7rem;
  text-align: center;
  letter-spacing: normal;
  transition: all 500ms ease;
  will-change: transform;
}


.btnAction.btnAction--stop {
  .fa-play,
  .fa-stop {
    transform: translateX(-88px);
  }
  background-color: $thirdColor;
}