.pageUpper {
  position: relative;
  background-color: $mainColor;
  padding: 0 3rem 5rem;
}

.pageUnder {
  padding: 44px 0 0;
}

.pageTitle {
  padding-top: 2rem;
  font-size: 7rem;
  color: #FFF;
  font-weight: 100;
  text-align: center;
}